.bought-content__tab__box#bought-tab2-box
  %ul.bought-content__tab__box__lists
    %li.bought-content__tab__box__lists__item
      %a{ href: '/'}
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .bought-content__tab__box__lists__item__text
          .bought-item-text
            「秋冬感満載 フープ × フェザー ピアス イヤリング」 を購入しました。
          .bought-item-status.F-bold.done
            取引完了
    %li.bought-content__tab__box__lists__item
      %a{ href: '/'}
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .bought-content__tab__box__lists__item__text
          .bought-item-text
            「秋冬感満載 フープ × フェザー ピアス イヤリング」 を購入しました。
          .bought-item-status.F-bold.done
            取引完了