%li.bought-content__tab__box__lists__item
  - image = Image.find_by(item_id: item.id)
  = link_to "#", class:"user-link login-link" do
    %figure
      = image_tag "#{image.images_url}", class:"list-icon"
    .bought-content__tab__box__lists__item__text
      .bought-item-text
        = "「 " + item.name + " 」を取引中です。" 
      .bought-item-status.F-bold.action-required
        受取評価待ち