.card-img{
  height: 20px;
  margin-right: 8px;
}


// クレジットカード
.card-box{
  .user-link{
    color: #fff;
  }
  .card-img{
    margin-top: 3px;
  }
  &__main{
    padding: 64px;
    &__text{
      padding: 0px 126px;
    }
    &__btn{
      padding: 0px 126px;
      .other-btn{
        margin:24px 0;
        max-width: 343px;
        color: #fff;
      }
      .card-icon{
        margin-right:16px;
        font-size:16px;
      }
    }
    &__content{
      display: flex;
      align-items: center;
      justify-content: center;
      overflow:hidden;
      .card-lists{
        float: left;
        width: 200px;
        .card-list-title{
          font-size: 14px;
        }
        .card-list{
          padding-top: 24px;
          height: 150px;
        }
        li{
          font-size: 14px;
        }
      }
      .delete-btn-box{
        .card-delete-btn{
          button{
            cursor: pointer;
            text-align: center;
            font-size:14px;
            padding: 4px 6px;
            background: #fff;
            border-radius: 3px;
            border: 1px solid $mrcrRed;
            color: $mrcrRed;
          }
        }
      }
    }
    &__ex{
      border-top:1px solid #f5f5f5;
      clear:both;
    }
  }
  &__form{
    max-width: 343px;
    margin: 0 auto 64px auto;
    .F-white{
      color: #fff;
    }
  }
}