// 会員登録フォーム フォーム共通
.new-form-default{
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.form-group{
  margin-top: 32px;
  color: #333;
  label{
    font-weight: 600;
    font-size: 14px;
  }
  p{
    margin: 8px 0 0;
  }
// 必須
  .form-require{
    background: $mrcrRed;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
  }
// 任意
  .form-arbitrary{
    background: #ccc;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
  }
// フォーム半分
  .half{
    margin-right: 8px;
    width: calc(50% - 16px);
  }
// セレクトボックス
  .select-default{
    width: 60px;
    padding: 0 10px;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
// セレクトボックス 100%
  .select-default-full{
    width: 100%;;
    padding: 0 10px;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
// カード情報用 年月サイズ
  .card-half{
    width: calc(50% - 50px);
    display: inline-block;
  }
// セレクトボックス 矢印
  .mydate-select-box{
    margin: 8px 0 0;
    position: relative;
  }
  .mydate-select-arrow{
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 8px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
  }
  .form-text{
    font-size:14px;
  }
  .sub-head{
    font-size:16px;
    margin: 0px;
  }
  .sub-head-text{
    font-size: 14px;
    margin-top: 8px;
  }
}


.new-form{
  color: #333;
  .new-form-box{
    &__header{
      height: 128px;
      text-align: center;
        .login-logo{
          height: 100px;
        }
        &__nav{
          padding: 40px 0 0 44px;
          border: 0;
          display: none;
          li {
            margin: 0 40px 0 0;
            min-width: 60px;
          }
          .progress-status{
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background-color: #ccc;
            border-radius: 50%;
          }          
          .active{
            font-weight: 600;
            color: $mrcrRed;
          }
        }
      }
    &__main{
      width: 700px;
      margin: 0 auto;
      background: #fff;
      padding-bottom: 64px;
      &__top{
        padding: 32px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5;
      }
      &__form{
        padding: 40px 40px 0px 40px;
        max-width: 320px;
        margin: 0 auto;

        .form-group:first-child {
          margin: 0;
        }
        .form-info-text{
          font-size: 14px;
          margin: 8px 0 0;
          color: #888;
        }
      }
      &__bottom{
        margin: 0 auto;
        max-width: 320px;
        text-align: center;
      // ロボット認証 仮置き
        &__captcha{
          margin: 0 auto;
          border:1px solid #979797;
          background-color:#ccc;
          height: 60px;
          width: 200px;
        }

        .form-bottom-text{
          font-size: 14px;
          color: #333;
        }
      }
    }

  }
}