ol,
ul,
li{
  list-style:none;
}

a{
  text-decoration: none;
}

.F-bold{
  font-weight: 600;
}

.F-black{
  color: $mrcrFColor;
}

.list-icon{
  height: 50px;
  weight: 50px;
}

.form-bottom-text-link {
  color: #0099e8;
  font-size: 14px;
}
.text-right{
  text-align: right;
}

.contents{
  background-color: $bodyColor;
  min-height: 100vh;
  padding-bottom: 40px;
}

.profile-icon{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  vertical-align: middle;
}