

// マイページ
.mypage-content{
  @include content;

  .mypage-nickname{
    font-size: 13px;
  }

  .mypage-number{
    margin: 5px;
  }
  
  &__header{
    background: url("user-bg.jpg");
    height: 200px;
    text-align: center;
    position: relative;
    &__icons{
      position: absolute;
      top: 25px;
      left: 0;
      right: 0;
    }
    &__number{
      font-size: 15px;
      margin: 8px;
      display: inline-block;
    }
  }
// マイページ   タブの見た目
  &__tab {
    width: 700px;
    background-color: #fff;
    .mypage-tab-label {
      height: 75px;
      background-color: #eee;
      width: calc(50%);
      height: 75%;
      line-height: 70px;
      font-size: 16px;
      text-align: center;
      color: $mrcrFColor;
      display: block;
      text-align: center;
      font-weight: bold;
      float: left;
      cursor: pointer;
      &:hover{
        color:#999;
      }
    }
    // マイページ タブの切り替え
    input[name="mypage-tab"] {
      display: none;
    }
    // マイページ タブの中身
    &__box {
      display: none;
      width: 700px;
      background-color: #fff;
      font-size: 13px;
      clear: both;
      &__lists {
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        height: auto;
        &__item{
          padding: 16px;
          border-bottom: 1px solid #eee;
          figure {
            float: left;
            height: 50px;
          }
          &__text{
            margin: 0 40px 0 68px;
            min-height: 50px;
            color: $mrcrFColor;
            .mypage-time{
              color: #888; 
            }
          }
        }
        &__all{
          padding:16px;
          &__box{
            background-color: #eee;
            height: 50px;
            text-align: center;
            line-height: 50px;
          }
          &__box:hover{
            background-color: rgb(245, 245, 245);
          }
        }
      }
    }

    // タブの切り替え
    // mypage-tabをクリックしたら、tab-boxが表示
    #mypage-tab1:checked ~ #mypage-tab1-box, #mypage-tab2:checked ~ #mypage-tab2-box {
      display: block;
    }

    input[name="mypage-tab"]:checked + .mypage-tab-label {
      background-color: #fff;
      border-top: 2px solid #ea352d;
    }
  }

}

// マイページ基本
.mypage-default-content{
  @include content;
  background-color: #fff;
  float: right;
  &__header{
    border-bottom:1px solid #f5f5f5;
    h1{
      font-size: 24px;
      text-align: center;
      color: $mrcrFColor;
      line-height: 50px;
    }
  
    &__title{
      height: 50px;
      box-sizing: content-box;
    }
  }
}

// プロフィール
.profile-box{
  &__head{
    background: url("user-bg.jpg");
    text-align: center;
    padding: 72px 16px 24px;
  }

  &__text{
    background-color: #fff;
    padding: 40px 16px;
  }

  .profile-nickname{
    width: 220px;
    color: $mrcrFColor;
    margin: 0 0 0 8px;
    height: 45px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid $bdColor;
    background: #fff;
    font-size: 16px;
    vertical-align:middle;
  }
  .profile-text{
    height: 194px;
    width: 646px;
    border: 1px solid #ccc;
    padding: 10px;
    
  }

  .profile-send-btn{
    width: 100%;
    height:50px;
    background-color: $mrcrRed;
    color: #fff;
    line-height: 50px;
    font-size: 14px;
    border: 1px solid $mrcrRed;
    margin: 16px 0 0;
  }
}

// 発送先住所
.deli-address-box{
  color: #333;
  &__header{
    border-bottom:1px solid #f5f5f5;
  }
  &__form{
    padding:40px 150px;
  }
}

// メール・パスワード
.user-edit-box{
  color: #333;
  &__header{
    border-bottom:1px solid #f5f5f5;
  }
  &__form{
    padding:64px 180px;
    .form-group:first-child {
      margin: 0;
    }
    .user-link{
      color: #fff;
    }
  }
}

// 本人確認情報
.mydate-box{
  color: #333;
  &__header{
    border-bottom:1px solid #f5f5f5;
  }
  &__form{
    padding:64px;
    .mydate-ex{
      font-size: 14px;
      &__link{
        margin: 8px 0 0;
      }
    }
  }
}

// 電話番号確認
.phone-box-main{
  height: 130px;
  padding: 64px;
  text-align: center;
  box-sizing: content-box;
  line-height: 130px;
}

// ログアウト
.logout-content{
  @include content;
  height: 179px;
  background-color: #fff;
  position: relative;

  .logout-box{
    height: 50px;
    width: 320px;
    background-color: $mrcrRed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &__btn{
      height:50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
    }
  }
}