<div class='footer'>
  <div class='footer-content'>
    <div class='footer-top'>
      <div class='footer-top__content'>
        <h2>メルカリについて</h2>
        <ul class="footer-lists">
          <li>
            <a href="#">会社概要（運営会社）</a>
          </li>
          <li>
            <a href="#">採用情報</a>
          </li>
          <li>
            <a href="#">プレスリリース</a>
          </li>
          <li>
            <a href="#">公式ブログ</a>
          </li>
          <li>
            <a href="#">メルカリロゴ利用ガイドライン</a>
          </li>
          <div class='footer-top__content--social'>
            <li>
              <i class="fab fa-twitter"></i>
            </li>
            <li>
              <i class="fab fa-facebook-square"></i>
            </li>
          </div>
        </ul>
      </div>
      <div class='footer-top__content'>
        <h2>ヘルプ＆ガイド</h2>
        <ul class="footer-lists">
          <li>
            <a href="#">メルカリガイド</a>
          </li>
          <li>
            <a href="#">らくらくメルカリ便</a>
          </li>
          <li>
            <a href="#">ゆうゆうメルカリ便</a>
          </li>
          <li>
            <a href="#">大型メルカリ便</a>
          </li>
          <li>
            <a href="#">車体取引ガイド</a>
          </li>
          <li>
            <a href="#">メルカリあんしん・あんぜん宣言！</a>
          </li>
          <li>
            <a href="#">偽ブランド品撲滅への取り組み</a>
          </li>
          <li>
            <a href="#">メルカリボックス</a>
          </li>
        </ul>
      </div>
      <div class='footer-top__content'>
        <h2>プライバシーと利用規約</h2>
        <div class='footer-top__content--divide'>
          <div class='footer-top__content--divide--left'>
            <ul class="footer-lists">
              <li>
                <a href="#">プライバシーポリシー</a>
              </li>
              <li>
                <a href="#">メルカリ利用規約</a>
              </li>
              <li>
                <a href="#">あんしんスマホサポート制度に関する利用特約</a>
              </li>
              <li>
                <a href="#">コンプライアンスポリシー</a>
              </li>
            </ul>
          </div>
          <div class='footer-top__content--divide--right'>
            <ul class="footer-lists">
              <li>
                <a href="#">個人データの安全管理に係る基本方針</a>
              </li>
              <li>
                <a href="#">特定商取引に関する表記</a>
              </li>
              <li>
                <a href="#">資金決済法に基づく表示</a>
              </li>
              <li>
                <a href="#">法令順守と犯罪抑止のために</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='footer-top__content'>
        <h2>国</h2>
        <ul class="footer-lists">
          <li>
            <a href="#">日本</a>
          </li>
          <li>
            <a href="#">United States</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='footer-bottom'>
      <a class="footer-bottom-logo" href="#">
        <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg" alt="Mercari" class="sc-gbzWSY iqGlYk">
      </a>
      <span>© 2019 Mercari</span>
    </div>
  </div>
</div>