<header>
  <div class="header-inner">
    <div class="header-top">
      <div class="header-top__logo">
        <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" width="135px" height="35px">
      </div>
      <div class="header-top__search">
<%# 商品検索 %>
        <div class="search_products">
          <%= form_tag(search_items_path, :method => 'get') do %>
            <%= text_field_tag :search, "",{class: "search_bar", placeholder:"何かお探しですか？"} %>
            <%= button_tag type: "submit", :name => nil do %>
              <i class="fas fa-search "></i>
            <% end %>
          <% end %>
        </div>
<%# ここまで %>
      </div>
    </div>

    <div class="header-bottom">
      <div class="header-bottom__left">
        <a href="/signup/step0" class="user_sign_up">新規会員登録</a>               
        <ul class="gnav">
          <%= render partial: 'items/search_category' %>
          <li id="search-brand">
            <a href="#">
              <i class="fas fa-tag fa-fw"></i><span class="search-brand">ブランドから探す</span>
            </a>
            <ul>
              <li class="parent"><a class="parent-a" href="">シャネル</a></li>
              <li class="parent"><a class="parent-a" href="">ナイキ</a></li>
              <li class="parent"><a class="parent-a" href="">ルイヴィトン</a></li>
              <li class="parent"><a class="parent-a" href="">シュプリーム</a></li>
              <li class="parent"><a class="parent-a" href="">アディダス</a></li>
              <li class="parent"><a class="parent-a" href="">ブランド一覧</a></li>
            </ul>
          </li>  
        </ul>
      </div>
      <div　class="header-bottom__right">
        <div>
          <div>
            <button></button>
          </div>
          <div>
            <button></button>
          </div>
        </div>
      </div>
  </div>
</header>























<%# <header>
  <div class="header_inner">
    <div class="top_header">
      <h1 class="logo_main">
        <a href="#">
          <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" width="135px" height="35px">
      </h1>
      <form class="search_products">
          <input class="search_bar" type="search" placeholder="何かお探しですか？">
          <button>
            <i class="fas fa-search"></i>
          </button>
      </form>
    </div>

    <div class="bottom_header">
      <nav class="nav_left">
        <ul class="search_tag">
          <li>
            <a href="#" class="category_search">
              <span class="search_type"><i class="fas fa-list-ul fa-fw"></i>カテゴリーから探す</span>
            </a>
?
          </li>  
          <li>
            <a href="#" class="brand_search">
              <span class="search_type"><i class="fas fa-tag fa-fw"></i>ブランドから探す</span> 
            </a>        
          </li>
        </ul>
      </nav> 

      <div class="nav_right">
        <ul>
          <li>
            <a href="#" class="user_sign_up">新規会員登録</a>
          </li>
          <li>
            <a href="#" class="user_sign_in">ログイン</a>
          </li>
        </ul>
      </div>
        
    </div>
  </div>
</header> %>