<header>
  <div class="header_inner">
    <div class="top_header">
      <h1 class="logo_main">
        <a href="#">
          <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" width="135px" height="35px">
      </h1>
      <form class="search_products">
          <input class="search_bar" type="search" placeholder="何かお探しですか？">
          <button>
            <i class="fas fa-search"></i>
          </button>
      </form>
    </div>

    <div class="bottom_header">
      <nav class="nav_left">
        <ul class="search_tag">
          <li>
            <a href="#" class="category_search">
              <span class="search_type"><i class="fas fa-list-ul fa-fw"></i>カテゴリーから探す</span>
            </a>
            <!-- <ul 河合くん>
            </ul> -->
          </li>  
          <li>
            <a href="#" class="brand_search">
              <span class="search_type"><i class="fas fa-tag fa-fw"></i>ブランドから探す</span> 
            </a>        
          </li>
        </ul>
      </nav> 

      <div class="nav_right">
        <ul>
          <li>
            <a href="#" class="user_sign_up">新規会員登録</a>
          </li>
          <li>
            <a href="#" class="user_sign_in">ログイン</a>
          </li>
        </ul>
      </div>
        
    </div>
  </div>
</header>