       <ul id="flex-container">
<%= @ladies_items.each do |lady| %>
      <li id="flex-container__item-box">
        <a href="#">
          <figure class="figure">
              <%= image_tag(lady.images.first.images_url, width: "188px", height: "188px", alt: "image",class: "figure__image") unless lady.images.blank? %>
              <%# <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image"> %>
                <div>
                <span class="flex-container__item-box__yen" aria-label="Price">
                  ¥<%= number_with_delimiter(lady.price) %>
                </span>
              </div>
            <figcaption><span><%= lady.explanation%></span></figcaption>
          </figure>
        </a>
      </li>
      <% end %>
  </ul>