        <ul id="flex-container">
  
  <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
    <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
    <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
    <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
    <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
    <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
  <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
  <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
  <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
  <li id="flex-container__item-box">
    <a href="#">
      <figure class="figure">
          <img class="figure__image" src="https://placehold.jp/188x188.png" width="188px" height="188px" alt="image">
          <div>
            <span class="flex-container__item-box__yen" aria-label="Price">¥900</span>
          </div>
        <figcaption><span>ここに商品の説明</span></figcaption>
      </figure>
    </a>
  </li>
</ul>