.search-item__side
  .search-item__side__sort
    .form-group
      .search-select-box
        = icon "fas","chevron-down",class:"search-select-arrow"
        %select.select-default-full
          %option
            並び替え
          %option
            価格の安い順
          %option
            価格の高い順
          %option
            出品の古い順
          %option
            出品の新しい順
          %option
            いいね!の多い順
  .search-item__side__select
    %h3.visible-large
      詳細検索
    .form-group
      %span
        キーワードを追加する
      %input.new-form-default
    .form-group
      %span
        カテゴリーを選択する
      .search-select-box
        = icon "fas","chevron-down",class:"search-select-arrow"
        %select.select-default-full
          %option
            すべて
          %option
            レディース
          %option
            メンズ
          %option
            ベビー・キッズ
          %option
            インテリア・住まい・小物
          %option
            本・音楽・ゲーム
          %option
            おもちゃ・ホビー・グッズ
          %option
            コスメ・香水・美容
          %option
            家電・スマホ・カメラ
          %option
            スポーツ・レジャー
          %option
            ハンドメイド
          %option
            チケット
          %option
            自動車・オートバイ
          %option
            その他
    .form-group
      %span
        ブランド名から探す
      %input.new-form-default
    .form-group
      %span
        サイズを指定する
      .search-select-box
        = icon "fas","chevron-down",class:"search-select-arrow"
        %select.select-default-full
          %option
            すべて
          %option
            洋服のサイズ
          %option
            メンズ靴のサイズ
          %option
            レディース靴のサイズ
          %option
            スカートのサイズ
          %option
            キッズ服のサイズ
          %option
            ベビー・キッズ靴のサイズ
          %option
            ベビー服のサイズ
          %option
            テレビのサイズ
          %option
            カメラレンズのサイズ
          %option
            オートバイのサイズ
          %option
            ヘルメットのサイズ
          %option
            タイヤのサイズ
          %option
            スキーのサイズ
          %option
            スノーボードのサイズ
    .form-group
      %span
        価格
      .search-select-box
        = icon "fas","chevron-down",class:"search-select-arrow"
        %select.select-default-full
          %option
            選択してください
          %option
            300 ~ 1000
          %option
            1000 ~ 5000
          %option
            5000 ~ 10000
          %option
            10000 ~ 30000
          %option
            30000 ~ 50000
          %option
            50000 ~ 
      %input.new-form-default.half
      %span ~ 
      %input.new-form-default.half
    .form-group
      %span
        商品の状態
      %br
      .checkbox-default
        %input{type:"checkbox"}
        %label
          すべて
      .checkbox-default
        %input{type:"checkbox"}
        %label
          新品、未使用
      .checkbox-default
        %input{type:"checkbox"}
        %label
          未使用に近い
      .checkbox-default
        %input{type:"checkbox"}
        %label
          目立った傷や汚れなし
      .checkbox-default
        %input{type:"checkbox"}
        %label
          やや傷や汚れあり
      .checkbox-default
        %input{type:"checkbox"}
        %label
          傷や汚れあり
      .checkbox-default
        %input{type:"checkbox"}
        %label
          全体的に状態が悪い
    .form-group 
      %label
        %span
          配送料の負担
      %br
      .checkbox-default
        %input{type:"checkbox"}
        %label
          すべて
      .checkbox-default
        %input{type:"checkbox"}
        %label
          着払い(購入者負担)
      .checkbox-default
        %input{type:"checkbox"}
        %label
          送料込み(出品者負担)
    .form-group
      .label
        %span
          販売状況
      .checkbox-default
        %input{type:"checkbox"}
        %label
          すべて
      .checkbox-default
        %input{type:"checkbox"}
          %label
            販売中
      .checkbox-default
        %input{type:"checkbox"}
        %label
          売り切れ
    .search-extend-btn-empty
      .search-extend-btn
        %button.btn-default.btn-gry
          クリア
        %button.btn-default.btn-red
          完了