<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>商品削除画面</title>
  <link rel="stylesheet" type="text/css" href="delete.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="ress.css">
  </head>

  <body>

    <header>
      header
    </header>

    <div id="item">
      <div id="item__inner">
        <h1 id="item__inner__name">商品の名前が入ります</h1>
        <div id="item__inner__info">
          <div id="item__inner__info__left">
            <div class="bigImage">
              <img src="https://placehold.jp/300x300.png" width="300" height="300" alt="mainimage" class="mainImage" />
            </div>
            <div>
              <ul class="parent">
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
                <li><img src="https://placehold.jp/60x60.png" width="60" height="60" alt="small_img_thumb"
                    class="thumb child" /></li>
              </ul>
            </div>
          </div>

          <div class="item__inner__table">
            <table>
              <tr>
                <th class="item__inner__table__left">出品者</th>
                <td class="item__inner__table__right">
                  <a href="#">kawai</a>
                  <div class="item-user-rating">
                    <i class="icon-good"></i>
                    <!-- <span>136</span> -->
                  </div>
                  <div class="item-user-rating">
                    <i class="icon-good"></i>
                    <!-- <span>136</span> -->
                  </div>
                  <div class="item-user-rating">
                    <i class="icon-good"></i>
                    <!-- <span>136</span> -->
                  </div>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">カテゴリ</th>
                <td class="item__inner__table__right">
                  <a href="#">大カテゴリ</a></br>
                  <a href="#">中カテゴリ</a></br>
                  <a href="#">小カテゴリ</a></br>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">ブランド</th>
                <td class="item__inner__table__right">
                  <a href="#">ブランドA</a>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">商品のサイズ</th>
                <td class="item__inner__table__right">
                  <a>M</a>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">商品の状態</th>
                <td class="item__inner__table__right">
                  <a>M</a>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">配送料の負担</th>
                <td class="item__inner__table__right">
                  <a>送料込み(出品者負担)</a>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">配送の方法</th>
                <td class="item__inner__table__right">
                  <a>ゆうゆうメルカリ便</a>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">配送元地域</th>
                <td class="item__inner__table__right">
                  <a>未定</a>
                </td>
              </tr>
              <tr>
                <th class="item__inner__table__left">配送日の目安</th>
                <td class="item__inner__table__right">
                  <a>1〜2日で発送</a>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div id="item__inner__pricebox">
          <span class="item__inner__pricebox__yen">¥5,000</span>
          <span class="item__inner__pricebox__tax">(税込)</span>
          <span class="item__inner__pricebox__postage">送料込み</span>
        </div>


        <div id="item__inner__explanation">
          <p>
            商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明商品の説明
          </p>
        </div>
      </div>
    </div>

    <div id="item-edit">
      <div id="item-edit__area">
        <div id="item-edit__inner">
          <div class='item-edit__button__red'>
            <a href='#'>商品の編集</a>
          </div>

          <p class="item-edit__inner__or">or</p>

          <div class='item-edit__button__gray-stop'>
            <a href='#'>出品を一旦停止する</a>
          </div>

          <div class='item-edit__button__gray-delete'>
            <a href='#'>この商品を削除する</a>
          </div>
        </div>
      </div>
    </div>

    <!--モーダル -->
    <div class="modal-wrapper" id="confirm-modal">
      <div class="modal">
        <div class="close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>

        <div id="login-form">
          <h3>確認</h3>
          <p>削除すると二度と復活できません。<br>削除する代わりに停止することもできます。<br><br>本当に削除しますか？</p>
          <form action="#">
            <div id="cancel-btn">キャンセル</div>
            <div id="submit-btn">削除する</div>
          </form>
        </div>
      </div>
    </div>
    <!--  モーダル      -->




    <div id="comments">
      <form action="post">
        <div id="comments__container">
          <div class="comments__container__caution">
            <p>相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
          </div>
          <textarea name="body" class="comments__container__textarea" cols="30" rows="10"></textarea>
          <button type="submit" class="comments__container__comment-btn">コメントする</button>
        </div>
      </form>
    </div>

    <div>

    </div>

    <div class='aside'>
      <div class='app-text'>
        <h2>スマホでかんたんフリマアプリ</h2>
        <p>今すぐ無料ダウンロード！</p>
        <div class='app-text__figure'>
          <div class='app-text__figure--image'>
            <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3135490372"
              width="68px" height="68px">
          </div>
          <ul>
            <li>
              <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3135490372"
                width="133px" height="40px">
            </li>
            <li>
              <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3135490372"
                width="133px" height="40px">
            </li>
          </ul>
        </div>
      </div>
      <div class='app-image'>
        <img src="https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3135490372" ,
          width="300px" height="260px">
      </div>
    </div>

    <div class='footer'>
      <div class='footer-content'>
        <div class='footer-top'>
          <div class='footer-top__content'>
            <h2>メルカリについて</h2>
            <ul class="footer-lists">
              <li>
                <a href="#">会社概要（運営会社）</a>
              </li>
              <li>
                <a href="#">採用情報</a>
              </li>
              <li>
                <a href="#">プレスリリース</a>
              </li>
              <li>
                <a href="#">公式ブログ</a>
              </li>
              <li>
                <a href="#">メルカリロゴ利用ガイドライン</a>
              </li>
              <div class='footer-top__content--social'>
                <li>
                  <i class="fab fa-twitter"></i>
                </li>
                <li>
                  <i class="fab fa-facebook-square"></i>
                </li>
              </div>
            </ul>
          </div>
          <div class='footer-top__content'>
            <h2>ヘルプ＆ガイド</h2>
            <ul class="footer-lists">
              <li>
                <a href="#">メルカリガイド</a>
              </li>
              <li>
                <a href="#">らくらくメルカリ便</a>
              </li>
              <li>
                <a href="#">ゆうゆうメルカリ便</a>
              </li>
              <li>
                <a href="#">大型メルカリ便</a>
              </li>
              <li>
                <a href="#">車体取引ガイド</a>
              </li>
              <li>
                <a href="#">メルカリあんしん・あんぜん宣言！</a>
              </li>
              <li>
                <a href="#">偽ブランド品撲滅への取り組み</a>
              </li>
              <li>
                <a href="#">メルカリボックス</a>
              </li>
            </ul>
          </div>
          <div class='footer-top__content'>
            <h2>プライバシーと利用規約</h2>
            <div class='footer-top__content--divide'>
              <div class='footer-top__content--divide--left'>
                <ul class="footer-lists">
                  <li>
                    <a href="#">プライバシーポリシー</a>
                  </li>
                  <li>
                    <a href="#">メルカリ利用規約</a>
                  </li>
                  <li>
                    <a href="#">あんしんスマホサポート制度に関する利用特約</a>
                  </li>
                  <li>
                    <a href="#">コンプライアンスポリシー</a>
                  </li>
                </ul>
              </div>
              <div class='footer-top__content--divide--right'>
                <ul class="footer-lists">
                  <li>
                    <a href="#">個人データの安全管理に係る基本方針</a>
                  </li>
                  <li>
                    <a href="#">特定商取引に関する表記</a>
                  </li>
                  <li>
                    <a href="#">資金決済法に基づく表示</a>
                  </li>
                  <li>
                    <a href="#">法令順守と犯罪抑止のために</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class='footer-top__content'>
            <h2>国</h2>
            <ul class="footer-lists">
              <li>
                <a href="#">日本</a>
              </li>
              <li>
                <a href="#">United States</a>
              </li>
            </ul>
          </div>
        </div>
        <div class='footer-bottom'>
          <a class="footer-bottom-logo" href="#">
            <img
              src="https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
              alt="Mercari" class="sc-gbzWSY iqGlYk">
          </a>
          <span>© 2019 Mercari</span>
        </div>
      </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/main.js"></script>
    <script src="script.js"></script>
  </body>

  </html>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="./delete.js"></script>

</body>

</html>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="./script.js"></script>

</body>

</html>