.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: #0099e8;
  text-decoration: none;
}

.sp_single-body {
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.sp_single-header {
  height: 128px;
  text-align: center;
  background: rgb(245, 245, 245);

  h1 {
    margin: 40px 0 0;
    display: inline-block;
  }

  a {
    width: 185px;
    height: 49px;
    line-height: 49px;
    margin: 0 8px 0 0;
    display: inline-block;
  }
}

.sp_single-main {
  margin: 0px;
}

.sp_single-container {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}

.sp_single-head {
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

.sp_sell-form {
  border-top: 1px solid #eee;
}

.sp_sell-upload-box {
  width: 700px;
  padding: 40px 40px 20px 40px;
}

.sp_sell-upload-head {
  font-size: 16px;
}

.sp_form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2.5px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
}

.sp_form-require-price {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2.5px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
  line-height: 48px;
}

.listing-default--require{
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2.5px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  font-weight: 600;
}

.sp_sell-upload-box p {
  margin: 8px 0 0;
  line-height: 1.5;
}

.sp_sell-dropbox-container {
  display: block;
  width: 620px;
  margin: 16px auto 0;
}

.sp_sell-upload-items-container {
  display: inline-block;
  width: 620px;
}

.sp_sell-upload-image {
  line-height: 116px;
  width: auto;
  padding: 0;
  height: 116px;
  margin: 0;
}

.sp_sell-upload-button {
  font-size: 14px;
  text-align: center;
  display: block;
  height: 44px;
}

.sp_sell-upload-edit {
  display: inline-block;
  width: 50%;
  height: 44px;
  float: left;
  background: #f5f5f5;
  line-height: 44px;
  color: #0099e8;
  text-decoration: none;
}

.sp_sell-upload-delite {
  display: inline-block;
  width: 50%;
  height: 44px;
  float: right;
  background: #f5f5f5;
  line-height: 44px;
  color: #0099e8;
  text-decoration: none;
}


.sp_sell-upload-drop-box {
position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 100;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #ea352d;
}

    .sp_sell-upload-drop-box i{
      color: #fff;
      font-size: 3.8em;
      display: inline-block;
      padding: 10px 50px;
    }


    .fa-images:before {
      content: "\f030";
  }

.input-area {
  position: relative;
}

  #sp_sell-upload-item {
    width: 113px;
    margin: 0 13px 10px 0;
    position: relative;
    display: inline-block;
    border: 1px solid #eee;
    vertical-align: top;
  }
  #sp_sell-upload-item:nth-child(5){
    width: 113px;
    margin: 0 0px 10px 0;
  }
  #sp_sell-upload-item:nth-child(10){
    width: 113px;
    margin: 0 0px 10px 0;
  }

.sp_sell-upload-button {
  font-size: 14px;

  a {
    display: inline-block;
    width: 50%;
    background: #f5f5f5;
    line-height: 44px;
    text-align: center;

    &:last-child {
      border-left: 1px solid #eee;
    }
  }
}

.sp_sell-upload-items ul{
  height: inherit;
}

input {
  border: 0;
  outline: 0;
  font-family: inherit;
}

.sp_visible-pc {
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding: 25px 0 5px;
}

.sp_sell-upload-image img{
  top: 50%;
  left: 0;
  width: 100%;
  position: static;
  transform: none;
}

.sp_sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
}

.listing-default__label{
  font-weight: 600;
  display: inline-block;
}

.sp_input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.form-suggest-list li {
  padding: 16px 8px;
  font-size: 14px;
}

.form-suggest-list li:hover {
  background-color:#0099E8; 	/*リンクにマウスが乗ったら背景色を変更する*/
  color: white;
}

@media screen and (min-width: 768px){
.form-suggest-list li {
    cursor: pointer;
}
}

.sp_search-result{
    overflow: auto;
    position: inherit;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 280px;
    height: inherit;
    background: #fff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
    width: 400px;
}

.sp_form-group {
  margin: 40px 0 0;

  .sp_input-default {
    width: 100%;
    margin: 8px 0 0;
  }
}

.sp_form-group-first {

  .sp_input-default {
    width: 100%;
    margin: 8px 0 0;
  }
}

.listing-product-detail__size{
  margin: 40px 0 0;
}

.sp_textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
}

.sp_sell-sub-head {
  float: left;
  color: #888;
  font-size: 14px;
}

.sp_sell-form-box {
  float: right;
  width: 400px;
  margin: 0;
}

.sp_form-group label {
    font-weight: 600;
    display: inline-block;
  }

  .sp_form-group-first label {
    font-weight: 600;
    display: inline-block;
  }

  .help-block{
    color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
  }


.sp_select-wrap {
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

.listing-select-wrapper__box{
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}

.sp_select-wrap img{
  position: relative;
  background: #fff;
  position: absolute;
  top: 40%;
  z-index: 2;
  right: 16px;
}

.sp_select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
}

.listing-select-wrapper__box--select{
  position: relative;
  z-index: 2;
  height: 48px;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
}

.listing-select-wrapper__box--arrow-down{
  position: relative;
  background: #fff;
  position: absolute;
  top: 40%;
  z-index: 2;
  right: 16px;
  color: #888888;
}

.sp_form-arbitrary {
  background: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.sp_sell-brand-suggest-form-suggest-list {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 280px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.64);
  width: 8px;
  border-radius: 8px;

  li {
    cursor: pointer;
    padding: 16px 8px;
    font-size: 14px;
  }
}

ul {
  list-style: none;
}

.sp_form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}


.sp_sell-price .sp_form-group .sp_l-left {
  line-height: 48px;
}

.sp_l-left-bold {
  font-size: 16px;
  font-weight: 600;
}

.sp_sell-price .sp_form-group-first .sp_l-left {
  line-height: 48px;
}

.sp_sell-price-input {
  text-align: right;
}

.sp_l-right {
  float: right;
}

.sp_l-left {
  float: left;
}

.sp_sell-price-input {
  div {
    display: inline-block;
    width: 80%;
    margin: 0 0 0 5%;
  }

  .sp_input-default {
    margin: 0;
    text-align: right;
    width: 100%;
  }
}

.sp_sell-price {
   height: 100%;

  li {
    padding: 24px 0;
    border-top: 1px solid #ccc;

    &:first-child {
      padding: 0 0 24px;
      border: 0;
    }
  }

  .sp_bold .sp_l-left {
    font-size: 16px;
  }
}

.sp_bold {
  font-weight: 600;
}

.right_bar_2 {
  font-size: 34px;
  font-weight: 600;
}

.sp_sell-btn-box p {
    line-height: 1.5;
  }

.sp_btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.sp_btn-red {
  margin: 40px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.sp_btn-gray {
  width: 45%;
  margin: 24px auto 0;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

footer.sp_single-footer {
  position: relative;
  width: 456px;
  height: 220px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;
  background: #f5f5f5;
  text-align: center;
}

.sp_single-footer nav {
  font-size: 12px;
  height: 100%;

  li {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;

    a {
      color: #333;
      text-decoration: none;
    }
  }
}

.sp_single-footer-logo {
  display: inline-block;
  width: 456px;
  margin: 40px auto 0;
}

.sp_single-footer p {
  display: inline-block;
  margin: 8px auto 0;
  text-align: center;

  small {
    font-size: 13px;
  }
}

#output img {
  display: block;
}

.upload-image{
  display: none;
}
