<!DOCTYPE html>
<html>


  <head>
    <meta charset="utf-8">
    <title>メルカリ５５号-ユーザーサイト</title>
    <link rel="stylesheet" href="ress.css">
    <link rel="stylesheet" href="user-info.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="hover.js"></script>
  </head>

  <body>
    <div>

      <ul class="user">
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">マイページ<span class="blank">------------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">お知らせ<span class="blank">---------------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">やることリスト<span class="blank">-------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#" class="products-state">いいね！一覧<span class="blank">---------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">出品する<span class="blank">---------------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">出品した商品ー出品中<span class="blank">----------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">出品した商品ー取引中<span class="blank">----------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">出品した商品-売却済み<span class="blank">---------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">購入した商品-取引中<span class="blank">------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#" class="products-state">購入した商品-過去の取引<span class="blank">------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">ニュース一覧<span class="blank">---------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">評価一覧<span class="blank">--------------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">ガイド<span class="blank">-----------------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">お問い合わせ<span class="blank">---------------------------</span>＞</a>
          </div>
        </li>        
      </ul>
       
      <h3 class="list-name">メルペイ</h3>
      <ul class="user-merpay">
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">売り上げ・振込申請<span class="blank">-------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">ポイント<span class="blank">---------------------------------</span>＞</a>
          </div>
          </li>        
      </ul>

      <h3 class="list-name">設定</h3>
      <ul class="user-config">
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">プロフィール<span class="blank">----------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">発送元・お届け先住所変更<span class="blank">-----------</span>＞</a>
          </div>
        </li> 
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">支払い方法<span class="blank">-------------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">メール/パスワード<span class="blank">---------------------</span>＞</a>
          </div>
        </li> 
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">本人情報<span class="blank">---------------------------------</span>＞</a>
          </div>
        </li>
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">電話番号の確認<span class="blank">-------------------------</span>＞</a>
          </div>
        </li> 
        <li class="user-info-list">
          <div class="user-info-various">
            <a href="#">ログアウト<span class="blank">-------------------------------</span>＞</a>
          </div>
        </li>
      </ul>

    </div>
  </body>
</html>